In [1]:
import nltk

In [2]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [3]:
import pandas as pd

# Data:-

In [4]:
fake=pd.read_csv("Fake-211023-185413.csv")

In [5]:
true=pd.read_csv("True-211023-185340.csv")

In [6]:
fake

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [7]:
true

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [8]:
fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [9]:
true.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [10]:
fake.subject.value_counts()

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [11]:
true.subject.value_counts()

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [12]:
fake['target']=0
true['target']=1

In [13]:
fake.head()

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [14]:
true.head()

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [15]:
data=pd.concat([fake,true],axis=0)

In [16]:
data

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [17]:
# removing columns which are not needed in the data
data=data.drop(['subject','date','title'],axis=1)

In [18]:
data.columns

Index(['text', 'target'], dtype='object')

In [19]:
data

                                                    text  target
0      Donald Trump just couldn t wish all Americans ...       0
1      House Intelligence Committee Chairman Devin Nu...       0
2      On Friday, it was revealed that former Milwauk...       0
3      On Christmas day, Donald Trump announced that ...       0
4      Pope Francis used his annual Christmas Day mes...       0
...                                                  ...     ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...       1
21413  LONDON (Reuters) - LexisNexis, a provider of l...       1
21414  MINSK (Reuters) - In the shadow of disused Sov...       1
21415  MOSCOW (Reuters) - Vatican Secretary of State ...       1
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...       1

[44898 rows x 2 columns]

# Text Pre-Processing:-

# Tokenisation:-

In [20]:
from nltk.tokenize import word_tokenize

In [21]:
data['text']=data['text'].apply(word_tokenize)

In [22]:
data.head(10)

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

# Stemming:-

In [23]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer("english")

In [24]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [25]:
data['text']=data['text'].apply(stem_it)

In [26]:
data

                                                    text  target
0      [donald, trump, just, couldn, t, wish, all, am...       0
1      [hous, intellig, committe, chairman, devin, nu...       0
2      [on, friday, ,, it, was, reveal, that, former,...       0
3      [on, christma, day, ,, donald, trump, announc,...       0
4      [pope, franci, use, his, annual, christma, day...       0
...                                                  ...     ...
21412  [brussel, (, reuter, ), -, nato, alli, on, tue...       1
21413  [london, (, reuter, ), -, lexisnexi, ,, a, pro...       1
21414  [minsk, (, reuter, ), -, in, the, shadow, of, ...       1
21415  [moscow, (, reuter, ), -, vatican, secretari, ...       1
21416  [jakarta, (, reuter, ), -, indonesia, will, bu...       1

[44898 rows x 2 columns]

# Stopword Removal:-

In [27]:
def stop_it(t):
    dt=[word for word in t if len(word)>2]
    return dt

In [28]:
data['text']=data['text'].apply(stop_it)

In [29]:
data

                                                    text  target
0      [donald, trump, just, couldn, wish, all, ameri...       0
1      [hous, intellig, committe, chairman, devin, nu...       0
2      [friday, was, reveal, that, former, milwauke, ...       0
3      [christma, day, donald, trump, announc, that, ...       0
4      [pope, franci, use, his, annual, christma, day...       0
...                                                  ...     ...
21412  [brussel, reuter, nato, alli, tuesday, welcom,...       1
21413  [london, reuter, lexisnexi, provid, legal, reg...       1
21414  [minsk, reuter, the, shadow, disus, soviet-era...       1
21415  [moscow, reuter, vatican, secretari, state, ca...       1
21416  [jakarta, reuter, indonesia, will, buy, sukhoi...       1

[44898 rows x 2 columns]

In [30]:
data['text']=data['text'].apply(' '.join)

In [31]:
data

                                                    text  target
0      donald trump just couldn wish all american hap...       0
1      hous intellig committe chairman devin nune hav...       0
2      friday was reveal that former milwauke sheriff...       0
3      christma day donald trump announc that would b...       0
4      pope franci use his annual christma day messag...       0
...                                                  ...     ...
21412  brussel reuter nato alli tuesday welcom presid...       1
21413  london reuter lexisnexi provid legal regulator...       1
21414  minsk reuter the shadow disus soviet-era facto...       1
21415  moscow reuter vatican secretari state cardin p...       1
21416  jakarta reuter indonesia will buy sukhoi fight...       1

[44898 rows x 2 columns]

# Data Classification:

In [32]:
from sklearn.model_selection import train_test_split

In [50]:
X_train,X_test,Y_train,Y_test= train_test_split(data['text'],data['target'],test_size=0.25)
X_train.head()
print('\n')
Y_train.head()

6230     1
343      0
7318     1
21300    1
7391     1
Name: target, dtype: int64

# Vectorisation:-

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf=TfidfVectorizer(max_df=0.7)

tfidf_train=my_tfidf.fit_transform(X_train)
tfidf_test=my_tfidf.transform(X_test)

In [39]:
tfidf_train

<33673x92614 sparse matrix of type '<class 'numpy.float64'>'
	with 6010602 stored elements in Compressed Sparse Row format>

In [40]:
print(tfidf_train)

  (0, 9593)	0.022054860640755004
  (0, 26518)	0.05216427771508708
  (0, 21918)	0.07675540244072251
  (0, 74510)	0.04135963913312595
  (0, 16100)	0.05161133078035225
  (0, 87399)	0.06868592365430641
  (0, 1552)	0.049757425364636586
  (0, 29125)	0.03823630177837458
  (0, 14963)	0.037280491237529946
  (0, 49857)	0.019409713254482083
  (0, 11705)	0.040870524702506815
  (0, 34951)	0.02178742652928869
  (0, 59658)	0.0445267628749909
  (0, 38420)	0.050457142354174846
  (0, 61699)	0.05502854407551621
  (0, 42072)	0.06207518849161645
  (0, 75600)	0.03344730823852218
  (0, 80395)	0.021641643576044214
  (0, 63595)	0.05502854407551621
  (0, 21683)	0.02946720296571409
  (0, 87168)	0.05022447386560749
  (0, 66800)	0.05046796254114458
  (0, 55986)	0.017217096696734664
  (0, 25921)	0.045822206811564875
  (0, 89305)	0.02915302179950194
  :	:
  (33672, 89625)	0.06826644240819553
  (33672, 58002)	0.03295661198000345
  (33672, 89442)	0.020063725905961848
  (33672, 62792)	0.03458123554614705
  (33672, 10841)	0.020318642330374066
  (33672, 59621)	0.018553903668127147
  (33672, 11671)	0.03691343522540668
  (33672, 69730)	0.02780409451473146
  (33672, 13670)	0.02297070080642928
  (33672, 81915)	0.021655221143332192
  (33672, 61856)	0.026226151920972194
  (33672, 38032)	0.03713938829382808
  (33672, 59735)	0.048858809696238265
  (33672, 66444)	0.06442492866010471
  (33672, 61066)	0.05912726275222617
  (33672, 37299)	0.3581617007686237
  (33672, 41618)	0.059791767083216034
  (33672, 38167)	0.01854922857740013
  (33672, 8309)	0.08277752690385629
  (33672, 42348)	0.04897136974058423
  (33672, 23672)	0.2071844788233866
  (33672, 73888)	0.03451378714851752
  (33672, 89064)	0.04951556234052368
  (33672, 59950)	0.0415437457852668
  (33672, 78154)	0.046061932873104824

# Logistic Regression

In [41]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [49]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train,Y_train)
pred_1 = model_1.predict(tfidf_test)
cr1 = accuracy_score(Y_test,pred_1)
print(cr1*100,'%')

98.7706013363029 %

# PassiveAggressiveClassifier

In [45]:
from sklearn.linear_model import PassiveAggressiveClassifier

In [46]:
model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train,Y_train)

PassiveAggressiveClassifier(max_iter=50)

In [48]:
Y_pred=model.predict(tfidf_test)
accscore=accuracy_score(Y_test,Y_pred)
print('The accuracy of prediction is ',accscore*100,'%')

The accuracy of prediction is  99.57238307349667 %